*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
    
	font-family: 'Lato', sans-serif
}

a, a:hover{
    text-decoration: none;
}
/*header css code start*/
.header{
	width: 100%;
}
.top-header{
	width: 100%;
	padding: 10px 0px;
   background: #f5f7fa;
}
.top-header .info{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.top-header .info li{
	list-style: none;
	display: inline-block;
}
.top-header .info li a{
	font-size: 16px;
	font-weight: 500;
	display: block;
	color: #506a85;
	text-decoration: none;
	margin: 0px 0px 0px 20px;
}
.top-header .info li a .fa{
	margin: 0px 5px 0px 0px;
}
.top-header .info li a:hover, .top-header .info li a:focus{
	color: #00bc9c;
	transition: 1s ease-in;
}
.top-header .social-icon{
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: right;
}
.top-header .social-icon li{
	list-style: none;
	display: inline-block;
}
.top-header .social-icon li a{
	font-size: 14px;
	font-weight: 500;
	display: block;
	color: #506a85;
	text-decoration: none;
	margin: 0px 0px 0px 15px;
}
.top-header .social-icon li a:hover, .top-header .social-icon li a:focus{
	color: #00bc9c;
	transition: 1s ease-in;
}
.main-menu{
	width: 100%;
	padding: 20px 0px;
}
.main-menu .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #506a85;
    margin: 0px 40px 0px 0px;
}
.main-menu .navbar-nav .nav-item .nav-link:hover, .main-menu .navbar-nav .nav-item .nav-link:focus{
    color: #00bc9c;
	transition: 1s ease-in;
}
.main-menu .fa-search{
	font-size: 14px;
    font-weight: 700;
    color: #506a85;
}
/*slider css code start*/
.slider{
	width: 100%;
}
.slider .carousel .carousel-item .carousel-caption{
    bottom: 30%;
    text-align: unset;
}
.slider .carousel .carousel-item .carousel-caption h2{
	font-size: 52px;
	line-height: 62px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
}
.slider .carousel .carousel-item .carousel-caption p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color: #a3b1bf;
	margin: 0px 0px 60px;
}
.slider .carousel .carousel-item .carousel-caption .btn-success{
	padding: 15px 35px;
	font-size: 14px;
	font-weight: 700;
	background: #00bc9c;
	color: #fff;
	letter-spacing: 3px;
	border: 1px solid #00bc9c;
	border-radius: 2px;
	text-transform: uppercase;
}
.slider .carousel .carousel-item .carousel-caption .btn-success:hover, .slider .carousel .carousel-item .carousel-caption .btn-success:focus{
	color: #506a85;
	background: #fff;
    border: 1px solid #fff;
   transition: 1s ease-out;
}
.slider .carousel .carousel-item .text-right{
	text-align: right;
}
.slider .carousel .carousel-item .text-right p{
	color: #fff;
}
.slider .carousel .carousel-item .carousel-caption h2 span{
	background: #506a85;
	line-height: 70px;
}
.slider .carousel .carousel-item .c-bottom{
	bottom: 40%;
}
/*who we start*/
.who-we{
	width: 100%;
	padding: 80px 0px;
}
.who-we .title{
	width: 100%;
	padding: 0px 0px 80px;
	text-align: center;
}
.who-we .title h1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #506a85;
}
.who-we .title p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #506a85;
}
.who-we .img-icon{

}
.who-we .img-icon img{
	
}
.inner-text{
	width: 100%;
	padding: 0px 40px;
}
.who-we .who-title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #506a85;
    margin: 0px 0px 10px;
}
.who-we .who-text{
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #506a85;
}
/*latest work css code start*/
.latest-work {
	width: 100%;
	padding: 80px 0px;
	background: #f2f5f7;
}
.latest-work .title{
	width: 100%;
	padding: 0px 0px 40px;
	text-align: center;
}
.latest-work .title h2{
    font-size: 54px;
    line-height: 64px;
    font-weight: 700;
    color: #506a85;
    letter-spacing: 2px;
}
.latest-work .title p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #506a85;
}
.latest-work .card{
    border-radius: 5px;
    border-bottom: 2px solid #eee;
}
.latest-work .card .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.latest-work .card-body{
	width: 100%;
	text-align: center;
	padding: 25px 0px;
}
.latest-work .card-title{
	font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #506a85;
    margin: 0px 0px 3px;
}
.latest-work .card-text{
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #506a85;
}
.latest-work .owl-carousel{
	width: 100%;
	margin: 80px 0px 0px;
}
.latest-work .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top: 40px;
}
.latest-work .owl-theme .owl-dots .owl-dot span{
	 width: 15px;
    height: 15px;
	background: #506a85;
} 
.latest-work .owl-theme .owl-dots .owl-dot.active span, .latest-work .owl-theme .owl-dots .owl-dot:hover span{
    background: #00bc9c;
}
/*get-touch section start*/
.get-touch{
	width: 100%;
	padding: 100px 0px;
}
.get-touch .title{
	width: 100%;
	text-align: center;
}
.get-touch .title h2{
   font-size: 54px;
   line-height: 64px;
   font-weight: 700;
   color: #506a85;
   letter-spacing: 2px;
   margin: 0px 0px 20px;
}
.get-touch .title p{
    font-size: 14px;
   line-height: 24px;
   font-weight: 500;
   color: #506a85;
    margin: 0px 0px 40px;
}
.get-touch .title .btn-light{
   padding: 15px 35px;
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   background: #00bc9c;
   border-radius: 2px;
   border: 1px solid #00bc9c;
   letter-spacing: 2px;
   text-transform: uppercase;
   transition: 1s;
}
.get-touch .title .btn-light:hover, .get-touch .title .btn-light:focus{
   color: #00bc9c;
   background: transparent;
   border: 1px solid #00bc9c;
}
/*footer css code start here*/
.footer{
	width: 100%;
}
.footer .widget-section{
	width: 100%;
	padding: 80px 0px;
	background: #2f4052;
}
.footer .widget{
	width: 100%;
}
.footer .widget h4{
   font-size: 18px;
   line-height: 28px;
   font-weight: 700;
   color: #fff;
   letter-spacing: 2px;
   margin: 0px 0px 25px;
   text-transform: uppercase;
}
.footer .widget .flogo{
	 margin: 0px 0px 10px;
}
.footer .widget p{
	 font-size: 14px;
     line-height: 24px;
	 color: #a3b1bf;
	 padding: 10px 20px 0px 0px;
}
.footer .widget .btn-link{
   padding: 0px;
   text-decoration: none;
   font-size: 16px;
   font-weight: 700;
   color: #a3b1bf;
}
.footer .widget .btn-link:hover, .footer .widget .btn-link:focus{
	color: #00bc9c;
}
.footer .widget .btn-link .fa-long-arrow-right{
	margin: 0px 0px 0px 13px;
}
.footer .widget .img-fluid{
	width: 100%;
	height: 100%;
}
.footer .widget .padd{
	padding-right: 3px !important;
}
.footer .widget .widget-inner{
	width: 100%;
	padding: 0px 20px 0px 0px;
}
.widget ul{
	padding: 0px;
	margin: 15px 0px 0px;
}
.widget ul li{
	 font-size: 14px;
     line-height: 24px;
	 color: #a3b1bf;
	list-style: none;
	margin: 0px 0px 5px;
}
.widget ul li .fa{
	margin: 0px 5px 0px 0px;
}
.widget .subscribe{
	width: 100%;
    position: relative;
}
.widget .subscribe .form-control{
	padding: 15px;
	font-size: 14px;
	color: #828e99;
	background: #4e5c6c;
	border: 1px solid #4e5c6c;
}
.widget .subscribe .form-control:focus{
	box-shadow: 0 0 0 0.1rem #4e5c6c;
}
.widget .subscribe .btn-success{
	padding: 10px 15px;
	position: absolute;
	top: 10%;
	right: 2%;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
    background: #00bc9c;
    border: 1px solid #00bc9c;
    transition: 1s;
}
.widget .subscribe .btn-success:hover, .widget .subscribe .btn-success:focus{
  color: #00bc9c;
  background: transparent;
  border: 1px solid #00bc9c;
}
/*footer css code start here*/
.main-footer{
	width: 100%;
	padding: 25px 0px;
	background: #283645;
	position: relative;
}
.main-footer p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	color: #a3b1bf;
	padding: 5px 0px 0px;
	letter-spacing: 2px;
}
.main-footer .navbar-nav .nav-item .nav-link{
	padding: 0px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #a3b1bf;
	margin: 0px 20px 0px 0px;	
	transform: 1s;
}
.main-footer .navbar-nav .nav-item .nav-link:hover, .main-footer .navbar-nav .nav-item .nav-link:focus{
    color: #00bc9c;
}
.footer .main-footer .btn-info{
	font-size: 14px;
	position: absolute;
	top: 30%;
	right: 2%;
	color: #a3b1bf;
	border-radius: 2px;
	background: #3c5065;
    border: 1px solid #3c5065;
    transition: 1s;
}
.footer .main-footer .btn-info:hover, .footer .main-footer .btn-info:focus{
	color: #00bc9c;
    background: transparent;
    border: 1px solid #00bc9c;
}
